
body {
  margin: 2.5em;
}

section {
  overflow: auto;
}

section > h1:first-of-type {
  margin: 5em 0 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 150%;
  font-weight: normal;
}

p {
  line-height: 1.5em;
  margin: 0;
  text-align: justify;
  text-indent: 2.5em;
}

section > p:first-of-type {
  text-indent: 0;
}

ol, ul {
  line-height: 1.5em;
}

hr {
  border: none;
  margin: 0;
  height: 1.5em;
}

blockquote {
  margin: 0 2.5em;
}

blockquote h1 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

sub, sup {
  font-size: 65%;
  line-height: 0;
}

.chapter-description {
  display: block;
  margin: 0 0 0.5em;
}

.chapter-title {
  display: block;
  font-size: 67%;
  margin: 2em 0;
}

.first-letter {
  display: block;
  line-height: 1em;
  float: left;
  font-size: 300%;
  font-weight: bold;
}

.first-words {
  text-transform: uppercase;
}

/* Footnotes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footnote {
  border: 1px dotted black;
  clear: right;
  float: right;
  font-size: 85%;
  margin: 1em 0 1em 1em;
  padding: 1em;
  width: 30%;
}

.footnote-number {
  float: left;
  margin: 0 1em 0 0;
}

.footnote-number > a:before { content: '['; }
.footnote-number > a:after  { content: ']'; }
.footnote-number .text { display: none; }

.footnote-ref a:before { content: '['; }
.footnote-ref a:after  { content: ']'; }

/* Table of contents ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#toc > h1 {
  display: none;
}

#toc ol {
  margin: 5em 0 0;
}

#toc li {
  list-style-type: none;
  margin: 1em 0 0;
}

#toc .chapter-description {
  display: inline-block;
  margin: 0;
  min-width: 7em;
}

#toc .chapter-title {
  display: inline-block;
  font-size: 100%;
  margin: 0;
}
